/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.media-types.media-types-required-info {
	display: none;
}

.amc-error-notice ul{
	list-style: disc;
	padding-left: 40px;
}
